/* your styles go here */

.dot-66B334 {
  height: 25px;
  width: 25px;
  background-color: #66B334;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.dot-FF0000 {
  height: 25px;
  width: 25px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.dot-92B6C7 {
  height: 25px;
  width: 25px;
  background-color: #92B6C7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}

.jp-left-margin {
  margin-left: 5px;
}

.jp-on-budget-margin {
  margin-top: 5px;
  margin-left: 40px;
}

.chart{
  vertical-align: middle;
  margin: 0 auto;
  position: relative;
  display: inline-block;
}
